<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weightGraphApp.repository.UserMapper">

<select id = "insert">
INSERT INTO "user"(displayName,height,limitBw)
VALUES
(#{displayName},#{height},#{limitBw})
</select> 
<select id = "insertAuth">
INSERT INTO authentications(username,password,authority,displayName)
VALUES
(#{username},#{password},#{authority}::role,#{displayname})
</select> 

<!-- 最新データのみ取得 -->
	<select id ="showHight" resultType="com.example.weightGraphApp.entity.User" >
		SELECT height 
		FROM "user";	
	</select>

<delete id = "delete">
		DELETE FROM "user"
	</delete>

<delete id = "deleteAuth">
	DELETE FROM authentications
</delete>	

<select id = "count" resultType="long">		
	SELECT COUNT(id) FROM "user"
	</select>
	
<select id = "show" resultType="com.example.weightGraphApp.entity.User"	>
	SELECT * FROM "user"
</select>
</mapper>